<div class="sixteen wide column">

  <div class="ui card fluid">
    <div class="content">
      <h1 class="ui header">Registrations</h1>
      <table id="registrants" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>School</th>
                <th>Travel Reimbursement</th>
                <th>First Hackathon</th>
                <th>Status</th>
            </tr>
        </thead>
 
        <tfoot>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>School</th>
                <th>Travel Reimbursement</th>
                <th>First Hackathon</th>
                <th>Status</th>
            </tr>
        </tfoot>
 
        <tbody>
          <% @hack_apps.each do |hack_app| %>
            <tr>
                <td><%= link_to "#{hack_app.first_name} #{hack_app.last_name}", hack_app %></td>
                <td><%= hack_app.email %></td>
                <td><%= hack_app.school %></td>
                <td><%= pretty_travel_reimbursement(hack_app.do_you_need_travel_reimbursement?) %></td>
                <td><%= pretty_first_time_hacker(hack_app.is_this_your_first_hackathon?) %></td>
                <td><%= pretty_status(hack_app.status) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<script>
$(document).ready(function() {
    $('#registrants').DataTable();
} );
</script>