      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            Registrations
            <small>Control panel</small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Registrations</li>
          </ol>
        </section>

        <!-- Main content -->
        <section class="content">
          <!-- Small boxes (Stat box) -->
          <div class="row">
            <table id="example" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>School</th>
                <th>Travel Reimbursement</th>
                <th>First Hackathon</th>
                <th>Status</th>
            </tr>
        </thead>
 
        <tfoot>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>School</th>
                <th>Travel Reimbursement</th>
                <th>First Hackathon</th>
                <th>Status</th>
            </tr>
        </tfoot>
 
        <tbody>
          <% @hack_apps.each do |hack_app| %>
            <tr>
                <td><%= link_to "#{hack_app.first_name} #{hack_app.last_name}", hack_app %></td>
                <td><%= hack_app.email %></td>
                <td><%= hack_app.school %></td>
                <td><%= hack_app.do_you_need_travel_reimbursement? %></td>
                <td><%= hack_app.is_this_your_first_hackathon? %></td>
                <td><%= hack_app.status %></td>
            </tr>
          <% end %>
        </tbody>
      </table>



          </div><!-- /.row (main row) -->


        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->

<script>
$(document).ready(function() {
    $('#example').DataTable();
} );
</script>