<div class="twelve wide column centered">
  <div class="ui card fluid">

      <div class="content">
        <%= pretty_status_ribbon(@hack_app.status) %>
        <h1 class="ui header"><%= "#{@hack_app.first_name} #{@hack_app.last_name}" %><%= pretty_favorite(@hack_app.favorite) %>
        </h1>
        <h3 class="ui header"><%= @hack_app.created_at %></h3>
        <div class="ui raised segment">
          <div class="ui list">
              <div class="item">
                <i class="mail icon"></i>
                <div class="content">
                  <a class="header"><%= @hack_app.email %></a>
                </div>
              </div>
              <div class="item">
                <i class="pencil icon"></i>
                <div class="content">
                  <a class="header"><%= @hack_app.school %></a>
                </div>
              </div>
              <div class="item">
                <i class="user icon"></i>
                <div class="content">
                  <a class="header"><%= @hack_app.gender %></a>
                </div>
              </div>
              <div class="item">
                <i class="calendar icon"></i>
                <div class="content">
                  <a class="header"><%= @hack_app.age %></a>
                </div>
              </div>
            </div>
        </div>
<div class="ui raised segment">
  <div class="ui horizontal list centered">
              <div class="item">
                <div class="ui large labeled icon button">
                  <i class="large github icon"></i>
                  Github
                </div>
              </div>
              <div class="item">
                <div class="ui large labeled icon button">
                  <i class="large linkedin icon"></i>
                  Linkedin
                </div>
              </div>
              <div class="item">
                <div class="ui large labeled icon button">
                  <i class="large laptop icon"></i>
                  Website
                </div>
              </div>
              <div class="item">
                <div class="ui large labeled icon button">
                  <i class="large file outline icon"></i>
                  Resume
                </div>
              </div>

  </div>
</div>
            <div class="ui raised segment">
              <h4 class="ui header">Why Hack Arizona?</h4>
                <p><%= @hack_app.why_hack_arizona %><p>
            </div>

            <div class="ui raised segment">
              <h4 class="ui header">Tell Us Your Past Projects</h4>
                <p><%= @hack_app.past_projects %><p>
            </div>

            <div class="ui raised segment">
              <h2 class="ui header">Teammates</h2>
              <div class="ui horizontal list">
                <div class="item">
                  <div class="content">
                    <div class="header">Tom</div>
                    Top Contributor
                  </div>
                </div>
                <div class="item">
                  <div class="content">
                    <div class="header">Christian Rocha</div>
                    Admin
                  </div>
                </div>
                <div class="item">
                  <div class="content">
                    <div class="header">Matt</div>
                    Top Rated User
                  </div>
                </div>
              </div>
            </div>



<%= simple_form_for @hack_app, remote: true do |fa| %>
  <%= fa.hidden_field :favorite, :value => true %>
  <%= fa.submit "Favorite" %>
<% end %>

      </div>
      <div class="extra content" id="approval-panel">
        <div class="ui green animated button">
          <div class="visible content">Approve</div>
          <div class="hidden content">
          <i class="check icon"></i>
          <%= simple_form_for @hack_app, remote: true, :'data-update-target' => 'approval-panel' do |fa| %>
            <%= fa.hidden_field :status, :value => "Approved" %>
            <%= fa.submit "Approve", :style => 'border:none' %>
          <% end %>
          </div>
        </div>
        <div class="ui red animated button">
          <div class="visible content">Deny</div>
          <div class="hidden content">
          <i class="ban icon"></i>
          <%= simple_form_for @hack_app, remote: true do |fa| %>
            <%= fa.hidden_field :status, :value => "Denied" %>
            <%= fa.submit "Deny" %>
          <% end %>
          </div>
        </div>
        <%= @hack_app.note %>
        <a class="ui link" id="expand-note">Add Note</a>
        <div class="ui segment" id="note">
          <%= simple_form_for @hack_app, remote: true do |fa| %>
            <%= fa.input_field :note %>
            <%= fa.submit "submit" %>
          <% end %>
        </div>
      </div>
    </div>
</div

<script>
$('#expand-note').click(function() {
  $('#note').toggle("slow");
});
</script>
<script>
  $(function() {

    // Change the link's icon while the request is performing
    $('a[data-remote]').on('click', function(event, b, c) {
      alert('loading...');
      console.log('loading...');
      var icon = $(this).find('i');
      icon.data('old-class', icon.attr('class'));
      icon.attr('class', 'icon-refresh');
    });

    // Change the link's icon back after it's finished.
    $(document).ajaxComplete(function(e, request, options) {
      var url = options.url;
      url = url.split('?')[0]; // dataType="script" adds a timestamp to the URL

      // find the link that generated the ajax call.
      // This could be cleaner if more information was passed
      // from jquery_ujs to the ajax callbacks.
      $('a[href="' + url + '"]').each(function() {
        var icon = $(this).find('i');
        if (icon.data('old-class')) {
          icon.attr('class', icon.data('old-class'));
          icon.data('old-class', null);
        }
      })
    });

    // Don't fail silently

  })
</script>
